body {
    font-family: 'Martel Sans', sans-serif;
    background: #caebf2;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', monospace;
}

.container {
    max-width: 840px;
    margin: 0 auto;
}
.container > div{
    margin: 20px;
}
.introduction {
    text-align: center;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.i-am, .i-like {
    text-align: center;
}

.about-list {
    list-style: none;
    padding: 0;
}

@media (max-width: 480px) {
    .about-grid {
        grid-template-columns: 1fr;
    }
}

.project-heading {
    text-align: center;
    margin-top: 40px;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.image-wrapper {
    position: relative;
}

.project-image {
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(34, 60, 80, 0.16);
    transition: all 0.2s ease-in-out;
    width: 100%;
}

.image-wrapper:hover .project-image {
    filter: brightness(0.75);
    box-shadow: 0 8px 12px rgba(34, 60, 80, 0.16);
}

.image-wrapper h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    visibility: hidden;
    z-index: 2;
    transition: all 0.2s ease-in-out;
}

.image-wrapper:hover h4 {
    visibility: visible;
}

@media (max-width: 480px) {
    .project-grid {
        grid-template-columns: 1fr;
    }
}

.linksandcontacts {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.links-list {
    list-style: none;
    padding: 0;
}

.links-list a {
    text-decoration: none;
    color: inherit;
}

form input, textarea {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555;
}

.submit-button-wrapper {
    text-align: center;
}
.profile-pic{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 4px 6px 0px rgba(34, 60, 80, .16);
    transition: all ease-in-out .2s;
}
.profile-pic:hover{
    box-shadow: 0 8px 12px 0px rgba(34, 60, 80, .16);
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}